.layout {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-nav {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid white;
}

.search-bar {
  width: 75%;
  position: fixed;
  top: 0;
  right: 0;
}

.current-temp-display {
  width: 75%;
  position: fixed;
  right: 0;
  top: 15%;
}
